			<a href="/photos/new">New Photo</a>

			<a class="ui inverted blue button">Admin Login</a>

			<p>
				Scott Van Tuyl Photography<br>
				Designed by Drew Mainprize
			</p>
		</div>
	</body>
</html>
