<!DOCTYPE html>
<html>
	<head>
		<title>Scott Photography</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap">
		<link rel="stylesheet" type="text/css" href="../stylesheets/app.css">
	</head>
	
	<body>
			<div class="ui container" id="headerMenu">
				<div class="ui large secondary pointing menu" id="menuMain">
					<a href="/"><div href="/" class="ui link header item" id="brand"><i class="camera icon"></i>Scott Van Tuyl</div></a>
					<div class="right item">
						<a href="/" class="item" id="navItem">Home</a>
						<a href="/photos" class="item" id="navItem">Photos</a>
						<a href="/videos" class="item" id="navItem">Videos</a>
						<a href="/contact" class="item" id="navItem">Contact</a>
					</div>
				</div>
			</div>