<!DOCTYPE html>
<html>
	<head>
		<title>Scott Photography</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/app.css">
		<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
	</head>
	
	<body>
		<header id="jumbotron">
			
			<div class="ui large fixed secondary pointing menu" id="landingMenu">
				<div class="ui container">
					<a href="/"><div class="ui link header item" id="brand"><i class="camera icon"></i>Scott Van Tuyl</div></a>
					<div class="right item">
						<a href="/" class="item active" id="navItem">Home</a>
					<a href="/photos" class="item" id="navItem">Photos</a>
					<a href="/videos" class="item" id="navItem">Videos</a>
					<a href="/contact" class="item" id="navItem">Contact</a>
					</div>
				</div>
			</div>
			<div class="ui container">
				
			</div>
		</header>
		
		<div class="ui grid container">
			<div class="row">
				<div class="column">
					
				</div>
			</div>
		</div>
		
		
		
		
<%- include("partials/footer")%>