<%- include("partials/header") %>

<div class="ui main text container segment">
	<div class="ui huge header">
		Add New Photo
	</div>
	
	
	<form class="ui form" action="/photos" method="POST" enctype="multipart/form-data">
		<div class="custom-file">
			<input type="file" name="photoFile" id="photoFile" class="custom-file-input">
			<label for="photoFile" class="custom-file-label">Choose File</label>
		</div>
		
		<div class="field">
			<label>Category</label>
			<input type="text" name="photo[category]" placeholder="Category">
		</div>
		<div class="field">
			<label>Location</label>
			<input type="text" name="photo[location]" placeholder="Location">
		</div>
		<input class="ui violet basic button" type="submit" value="Submit">
	</form>
</div>

<%- include("partials/footer") %>