<%- include("partials/header") %>

<div class="container" id="photoGrid">
	<div class="masonry">
		<% photos.forEach(function(photo){ %>
			<img src="<%= photo.filePath %>" class="photo">
		<% }); %>
	</div>
</div>
	


<%- include("partials/footer") %>