/* Generic body styling */
body{
	text-align: center;
	background-color: #DCE2E5;
	font-family: 'Lato', sans-serif;
	color: #242F40;
}
/*----------------------*/
	
/* Social Media button styles */
.media{
	margin: 30px 30px;
	display: inline-block;
	font-size: 50px;
	padding: 20px 20px;
}
/*-------------------------*/

#socials{
	text-align: center;
}

/* Social media button colour and hover animation */
i{
	color: white;
}

i:hover{
	color: #0081A7;
	transition: 0.5s;
}

.text-iconed:hover > * {
   color: #0081A7;
	transition: 0.5s;
}

#ifoot:hover{
	color: #0081A7;
	transition: 0.5s;
}
/*------------------------------------------*/

/* Style Contact form */
.contactForm{
	display: block;
	margin: auto;
}
/*-------------------*/

/* Masonry layout for photos */
.masonry {
	line-height: 40px;
	column-count: 3;
}

.masonry img{
	width: 100% !important;
	height: auto !important;
	margin-bottom: 20px;
}

@media screen and (max-width: 867px){
	.masonry {
		line-height: 40px;
		column-count: 2;
	}
}

@media screen and (max-width: 501px){
	.masonry {
		line-height: 40px;
		column-count: 1;
	}
}
/*-----------------------*/

/* Jumbotron Init */
.jumbotron{
	background-image: url("/images/jumbo.jpg");
	background-size: cover;
	color: white;
	height: 450px;
	display: flex;
  	justify-content: center;
  	align-items: center; 
	border-radius: 0 !important;
}
/*----------------*/

/* Change Footer background colour */
#footDiv{
	background: #242F40;
	margin-bottom: 0;
	padding-bottom: 0;
	margin-top: 40px;
}
/*---------------------*/

/* Customize line break ele's */
hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	margin: 40px;
}
/*-------------------------*/

/* Img hover fade effect */
.photo:hover{
	transition: 0.3s;
	opacity: 0.5;
}
/*-----------------------*/

/* Navbar size styling */
.navbar{
	height:75px;
	font-size: 1.2em;
}
/*---------------------*/

/* Navbar background styling */
.navbarExtended{
	background: #242F40;/*rgb(92,94,115);*/
	background: /*linear-gradient(210deg, rgba(92,94,115,1) 0%, rgba(82,79,105,1) 26%, rgba(31,31,31,1) 77%);*/
}
/*-----------------------------*/

.navbar-toggler-icon{
	color: white;
}

/* Brand Styling */
.navbar-brand{
	font-size: 1.4em;
	font-family: "Permanent Marker", cursive;
}
/*---------------*/

/*Navbar tag styling */
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.95);
}
/*-------------------*/

/* Image shadows */
img{
	box-shadow: 0 0 10px #000;
}
/*----------------*/

#photoGrid{
	margin-top: 20px;
}

h2 {
    font-size: 2.75rem;
}

/* Removes bottom spacing in footer */
#ulSocials{
	margin-bottom: 0;
	padding-left: 0;
}
/*---------------------------------*/

/* Coming Soon Alignment for Vid Page */
.comingSoon{
	padding: 200px;
}
/*-------------------------*/

.squared{
	height: 75%;
	width: 75%;
}

#scottNav{
	background: #242F40;
}

.btn-danger{
	background: #DD6E46;
	font-family: "Permanent Marker", cursive;
	border: none;
}

.btn-danger:hover{
	background: #C03C0C;
}

.btn-primary{
	background: #0081A7;
	font-family: "Permanent Marker", cursive;
	border: none;
}

.btn-primary:hover{
	background: #003F52;
}

.btn-secondary{
	font-family: "Permanent Marker", cursive;
	border: none;
}

.carouselAlign{
	height: 80%;
	width: 80%;
	padding: 20px;
	margin: auto;
}